html{
	background-color: #CCCCCC;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 14px;
	color: #4F5155;
}
body{
	background-color: #FFFFFF;
	margin: 0 auto;
	padding: 20px;
	width: 600px;
}


a {
 color: #003399;
 background-color: transparent;
 font-weight: normal;
}

h1, h2 {
 color: #777;
 background-color: transparent;
 border-bottom: 1px solid #D0D0D0;
}

code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}

.entity{
	padding: 15px 0;
	margin: 0 0 15px;
	border-bottom: 2px solid gray;
}
label, input, textarea, select{
	display: block;
}
textarea{
	width: 200px;
	height: 60px;
}
blockquote{
	padding-left: 1em;
	border-left: 5px solid #bbb;
}
ul li{
	list-style: none;
}

div.info,
div.alert
{
	color: #555;
 	margin: 10px 0 5px 0;
 	padding: 10px;
	font-size: x-small;
}

div.info{
	background: #FBF2E6;
	border: 1px solid #E6E68F;
 }
div.alert{
	background: #FBE6F2;
	border: 1px solid #E68F8F;
}